<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nefarian" type="Nefarian.Configuration.NefarianConfiguration,Nefarian" />
  </configSections>
  <nefarian>
    <bootstrapper ip="127.0.0.1" port="8100" />
    <session timeout="60"></session>
    <authentication>
      <ignoreUrls>
        <add baseAddress="/Sys/Auth/Login"/>
      </ignoreUrls>
    </authentication>
    <modules>
      <module name="MogalCore" type="Blog.BlogCore.BlogCoreModule,BlogCore">
      </module>
      <module name="Sys" type=" Blog.SystemManager.SystemManagerModule,SystemManager">
        <service name="Auth" type="Blog.SystemManager.Services.SystemManagerService,SystemManager"/>
      </module>
    </modules>
  </nefarian>
  <connectionStrings>
    <add name="MsSql" providerName="MsSql" connectionString="server=127.0.0.1;database=Mogal;uid=sa;pwd=w525518487" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="httpBinding" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="" />
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBindingBehavior">
          <webHttp helpEnabled="false" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json"
              automaticFormatSelectionEnabled="false" faultExceptionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="defaultServiceBehavior">
          <serviceDebug httpHelpPageEnabled="true" httpsHelpPageEnabled="true"
              includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"
              policyVersion="Default" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="defaultServiceBehavior" name="Blog.SystemManager.Services.SystemManagerService">
        <endpoint behaviorConfiguration="webHttpBindingBehavior" binding="webHttpBinding" contract="Blog.SystemManager.Contracts.ISystemManagerService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>