<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nefarian" type="Nefarian.Configuration.NefarianConfiguration,Nefarian" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.13.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
  </configSections>
  <nefarian>
    <bootstrapper ip="127.0.0.1" port="8100" />
    <session timeout="1440"></session>
    <authentication>
      <ignoreUrls>
        <add baseAddress="/Sys/Auth/Login"/>
      </ignoreUrls>
    </authentication>
    <modules>
      <module name="MogalCore" type="Blog.BlogCore.BlogCoreModule,BlogCore">
      </module>
      <module name="Sys" type=" Blog.SystemManager.SystemManagerModule,SystemManager">
        <service name="Auth" type="Blog.SystemManager.Services.AuthManagerService,SystemManager"/>
        <service name="Service" type="Blog.SystemManager.Services.SystemManagerService,SystemManager"/>
      </module>
    </modules>
  </nefarian>
  <connectionStrings>
    <add name="MsSql" providerName="MsSql" connectionString="server=127.0.0.1;database=Blog;uid=sa;pwd=w525518487" />
  </connectionStrings>
  <appSettings>
    <add key="DebugSQL" value="false" />
    <add key="UploadFolder" value="\UploadFiles\" />
  </appSettings>
  <log4net>
     <root>
        <level value="INFO" />
        <appender-ref ref="DebugAppender" />
    </root>
    <logger name="Blog" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="FileAppender" />
    </logger>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+InterProcessLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxBufferSize="52428800" maxBufferPoolSize="52428800" maxReceivedMessageSize="52428800" transferMode="Streamed" 
                 sendTimeout="00:05:00" allowCookies="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" 
                 maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBindingBehavior">
          <webHttp helpEnabled="false" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json"
            automaticFormatSelectionEnabled="false" faultExceptionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="defaultServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="defaultServiceBehavior" name="Blog.SystemManager.Services.SystemManagerService">
        <endpoint behaviorConfiguration="webHttpBindingBehavior" binding="webHttpBinding"
          contract="Blog.SystemManager.Contracts.ISystemManagerService" />
      </service>
      <service behaviorConfiguration="defaultServiceBehavior" name="Blog.SystemManager.Services.AuthManagerService">
        <endpoint behaviorConfiguration="webHttpBindingBehavior" binding="webHttpBinding"
         contract="Blog.SystemManager.Contracts.IAuthManagerService" />
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <gcServer enabled="true" />
    <gcConcurrent enabled="false" />
    <legacyUnhandledExceptionPolicy enabled="1" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MyKeyToken" publicKeyToken="6e4561993abdc455" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6053.22017" newVersion="4.0.30319.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>